In [1]:
a,b,c=4,5,6
print(a)
print(b)
print(c)

4
5
6

In [2]:
x=5
y=3
x,y=y,x
print(x,y)

3 5

In [3]:
z=6
y,z,x=x,y,z
print(x)
print(y)
print(z)

6
3
5

In [9]:
a,b,c="3 4 5".split() #default value is space
print(a)  
print(b)
print(a+b)

3
4
34

In [10]:
my_list=["car","dog","pig"]
a,b,c=my_list
print(a)
print(b)
print(c)

car
dog
pig

In [11]:
tup=(1,3,5)
a,b,c=tup
print(a)
print(b)
print(c)

1
3
5

In [13]:
var=a,b,c   #by default takes tuple
print(var)
print(type(var))

(1, 3, 5)
<class 'tuple'>

In [14]:
var=[a,b,c]
print(var)
print(type(var))

[1, 3, 5]
<class 'list'>

In [16]:
def mul(a,b):          #unpacking of varaibales when sent as list
    print(a*b)         
lst=(3,6)              #need to be same no of items in list as  varaibles in function   
mul(*lst)

18

In [19]:
def details(a,b,c):
    print(a)
dict1={"a":"ahalya","b":"rekha","c":"bayyana"}
details(**dict1)

ahalya