In [165]:
def shipping_charges():
    dict_country_values={"INDIA":[20,10,5],"USA":[20,10,5],"UK":[20,10,5]}
    print(dict_country_values)
    for x,y in dict_country_values.items():
        if(x=="INDIA"):
            if(y[0]==20):
                print(f"The shipping rates for {x} with a total {y[0]} pounds is $9")
            if(y[1]==10):
                print(f"The shipping rates for {x} with a total {y[1]} pounds is $8")
            if(y[2]==5):
                print(f"The shipping rates for {x} with a total {y[2]} pounds is $7")
        elif(x=="USA"):
            if(y[0]==20):
                print(f"The shipping rates for {x} with a total {y[0]} pounds is $19")
            if(y[1]==10):
                print(f"The shipping rates for {x} with a total {y[1]} pounds is $18")
            if(y[2]==5):
                print(f"The shipping rates for {x} with a total {y[2]} pounds is $17")
        elif(x=="UK"):
            if(y[0]==20):
                print(f"The shipping rates for {x} with a total {y[0]} pounds is $29")
            if(y[1]==10):
                print(f"The shipping rates for {x} with a total {y[1]} pounds is $28")
            if(y[2]==5):
                print(f"The shipping rates for {x} with a total {y[2]} pounds is $27")
        else:
            print("Country not in dictionary")

        
        
shipping_charges()

{'INDIA': [20, 10, 5], 'USA': [20, 10, 5], 'UK': [20, 10, 5]}
The shipping rates for INDIA with a total 20 pounds is $9
The shipping rates for INDIA with a total 10 pounds is $8
The shipping rates for INDIA with a total 5 pounds is $7
The shipping rates for USA with a total 20 pounds is $19
The shipping rates for USA with a total 10 pounds is $18
The shipping rates for USA with a total 5 pounds is $17
The shipping rates for UK with a total 20 pounds is $29
The shipping rates for UK with a total 10 pounds is $28
The shipping rates for UK with a total 5 pounds is $27

In [177]:
print(hex(117))
print(oct(79))
print(int('117',16))
print(bin(117))
print(int('0b1110101',2))
print(int('27',8))
hex(116)

0x75
0o117
279
0b1110101
117
23

'0x74'

In [24]:
dict_country_values={"INDIA":[20,10,5],"USA":[20,10,5],"UK":[20,10,5]}
print(dict_country_values)
for x,y in dict_country_values.items():
        if(x=="INDIA"):
            for z in y:
                if(z==20):
                    print(f"The shipping rates for {x} with a total {y[0]} pounds is $9")
                if(z==10):
                    print(f"The shipping rates for {x} with a total {y[1]} pounds is $8")
                if(z==5):
                    print(f"The shipping rates for {x} with a total {y[2]} pounds is $7")

{'INDIA': [20, 10, 5], 'USA': [20, 10, 5], 'UK': [20, 10, 5]}
The shipping rates for INDIA with a total 20 pounds is $9
The shipping rates for INDIA with a total 10 pounds is $8
The shipping rates for INDIA with a total 5 pounds is $7

In [168]:
month=input("Please enter the month to get the length of days for that month:")
dict_month={"Jan":31,
            "Feb":29,
            "Mar":31,
            "Apr":30,
            "May":31,
            "Jun":30,
            "Jul":31,
            "Aug":31,
            "Sep":30,
            "Oct":31,
            "Nov":30,
            "Dec":31
           }
dict_month
print("The number of days for the %s month entered is %s " % (month,dict_month[month]))

Please enter the month to get the length of days for that month:Aug

TypeError: %d format: a number is required, not str

In [44]:
value1,value2=16,17
print(value1)
print(value2)

16
17

In [64]:
string1="a b v A C B"
str_list=string1.split(" ")
print(str_list)

['a', 'b', 'v', 'A', 'C', 'B']

In [65]:
str_list=list(string1.split(" "))
str_list

['a', 'b', 'v', 'A', 'C', 'B']

In [66]:
str_sorted=sorted(str_list)
str_sorted

['A', 'B', 'C', 'a', 'b', 'v']

In [75]:
str2="a A B b"
str_list=str2.split(" ")
str_set=set(str_list)
str_set
str_set1={"H","E","E","L","O"}
str_set1
str_set2={"Hi","Hello"}
str_set3={str_set2.join(str_set1)}
str_set3

AttributeError: 'set' object has no attribute 'join'

In [76]:
list1=["Rekha","Kiran","Ritvik","Rekha","Pranav","Kiran"]
list1

['Rekha', 'Kiran', 'Ritvik', 'Rekha', 'Pranav', 'Kiran']

In [77]:
print(list1.count("Rekha"))

2

In [163]:
for i in list1:
    if list1.count(i)>1:
        print("The element %s in list1 is repeated %s times" %(i,list1.count(i)))

The element Rekha in list1 is repeated 2 times
The element Kiran in list1 is repeated 2 times
The element Rekha in list1 is repeated 2 times
The element Kiran in list1 is repeated 2 times

In [86]:
set1=set(list1)
if(len(list1)>len(set1)):
    print("Yes duplicates exist")
else:
    print("No duplicates exist")

Yes duplicates exist

In [92]:
print(type(65j))

<class 'complex'>

In [95]:
set2=sorted(set1)
set2

['Kiran', 'Pranav', 'Rekha', 'Ritvik']

In [105]:
tuple1=(23,34,45,56,12,2,3)
print(tuple1)
tuple2=sorted(tuple1)
print(tuple2)
sorted_tuple=tuple(tuple2)
sorted_tuple

(23, 34, 45, 56, 12, 2, 3)
[2, 3, 12, 23, 34, 45, 56]

(2, 3, 12, 23, 34, 45, 56)

In [98]:
dict_sorted=sorted(dict_month)
print(dict_sorted)

['Apr', 'Aug', 'Dec', 'Feb', 'Jan', 'Jul', 'Jun', 'Mar', 'May', 'Nov', 'Oct', 'Sep']

In [110]:
tuple3=tuple1+sorted_tuple
print(sorted(tuple3,reverse=True))

[56, 56, 45, 45, 34, 34, 23, 23, 12, 12, 3, 3, 2, 2]

In [112]:
str1=input("Enter any string:")
words=str1.split(" ")
print(type(words))
set1=set(words)
set1_sorted=sorted(set1)
print(type(set1_sorted))
print(" ".join(set1_sorted))

Enter any string:what are you doing my boys
<class 'list'>
<class 'list'>
are boys doing my what you

In [120]:
str2=input("Enter any string with spaces:")
words1=str2.split(" ")
tuple_words1=tuple(words1)
print(tuple_words1)
sorted_tuple_words1=sorted(tuple_words1)
print(sorted_tuple_words1)
print(" ".join(sorted_tuple_words1))

Enter any string with spaces:hello how are you
('hello', 'how', 'are', 'you')
['are', 'hello', 'how', 'you']
are hello how you

In [122]:
a,b=30,40
print(a,b)

30 40

In [129]:
def add_int(a,b,c):
    d=a+b+c
    return print(f"Variables are {a},{b},{c}"),d
d=add_int(10,20,30)
d

Variables are 10,20,30

(None, 60)

In [162]:
res=0
def add_int(*args):
     for i in range(5):
        global res
        res=res+args[i]
        return res        
result=add_int(10,20,20,30)
print(result)

10

In [147]:
for i in range(5):
    print(i)

0
1
2
3
4