In [104]:
l1=[56,34,23,56,67,87,3]
l1.sort()
print(l1)
l2=[(3,5),(2,3),(7,1)]
l2.sort()
l2.sort()
l2

[3, 23, 34, 56, 56, 67, 87]

[(2, 3), (3, 5), (7, 1)]

In [63]:
a1

[10, 20, 30, 40, 50, 50, 60]

In [64]:
a1.sort();
a1

[10, 20, 30, 40, 50, 50, 60]

In [41]:
a2=[100,20,30,10,2,30,11,1242,31]

In [45]:
print(list.sort(a2))

None

In [84]:
aList = [1, 4, 2, 3];
print(sorted(aList));
print(aList)

[1, 2, 3, 4]
[1, 4, 2, 3]

In [100]:
list1=[40,3,45,12,56,23,64,56,45]

list1.sort(reverse=True)
print(list1)
j=0
for i in list1:
    if list1.count(i)>1:
        print(i)
        j=j+1
print(f"Yes Duplicates : {j}")

[64, 56, 56, 45, 45, 40, 23, 12, 3]
56
56
45
45
Yes Duplicates : 4

In [103]:
t1=(40,3,45,12,56,23,64,56,45)
j=0
for i in t1:
    if t1.count(i)>1:
        print(i)
        j=j+1
print(f"Yes Duplicates : {j}")

45
56
56
45
Yes Duplicates : 4

In [75]:
set1={23,34,1,2234,3123,22,12}
print(sorted(set1))
print(set1)

[1, 12, 22, 23, 34, 2234, 3123]
{1, 34, 12, 3123, 22, 23, 2234}

In [76]:
tuple1=(12,23,34,54,21,11,12,3)
print(sorted(tuple1))
print(tuple1)

[3, 11, 12, 12, 21, 23, 34, 54]
(12, 23, 34, 54, 21, 11, 12, 3)

In [78]:
dict1={"c":4,"f":23,"b":3,"a":34}
print(sorted(dict1))
print(dict1)

['a', 'b', 'c', 'f']
{'c': 4, 'f': 23, 'b': 3, 'a': 34}

In [88]:
str1="Hello"
print(sorted(str1))
print(str1)

['H', 'e', 'l', 'l', 'o']
Hello

In [93]:
t1=("hello","How","are","you","doing","today","?")
print(" ".join(t1))

hello How are you doing today ?

In [94]:
list_str=["hello","How","are","you","doing","today","?"]
print(" ".join(list_str))

hello How are you doing today ?

In [95]:
set_str={"hello","How","are","you","doing","today","?"}
print(" ".join(set_str))

you today doing are ? hello How

In [96]:
dict_str={"how":1,"are":3,"hello":4,"you":2,"?":5}
print(" ".join(dict_str))

how are hello you ?

In [105]:
days= { 'Mon', 'Tue', 'Wed','Thu'}
enum_days = enumerate(days)
print(type(enum_days))

# converting it to alist
print(list(enum_days))

# changing the default counter to 5
enum_days = enumerate(days, 5)
print(list(enum_days))

<class 'enumerate'>
[(0, 'Thu'), (1, 'Tue'), (2, 'Mon'), (3, 'Wed')]
[(5, 'Thu'), (6, 'Tue'), (7, 'Mon'), (8, 'Wed')]