In [274]:
str1="Hello"
for i in enumerate(str1,40):
    print(i)

(40, 'H')
(41, 'e')
(42, 'l')
(43, 'l')
(44, 'o')

In [6]:
str1="Hello"
str2=""
for i in str1:
    str2=str2+"  "+i
print(str2)

  H  e  l  l  o

In [20]:
l1=[["hello","hi"],["i","am"],["here","hear"]]
for i,j in enumerate(l1,9):
    print(f"This is {i} index and this is first item in nested list {j[0]} and this is second {j[1]}")

This is 9 index and this is first item in nested list hello and this is second hi
This is 10 index and this is first item in nested list i and this is second am
This is 11 index and this is first item in nested list here and this is second hear

In [26]:
days= { 'Mon', 'Tue', 'Wed','Thu'}
enum_days = enumerate(days)
print(type(enum_days))
print(list(enum_days))
enum_days=enumerate(days,5)
print(list(enum_days))

<class 'enumerate'>
[(0, 'Mon'), (1, 'Tue'), (2, 'Wed'), (3, 'Thu')]
[(5, 'Mon'), (6, 'Tue'), (7, 'Wed'), (8, 'Thu')]

In [29]:
l1=["hello","hi","we","are","doing","good"]
enum_l1=enumerate(l1,7)
d=dict((i,j) for i,j in enum_l1)
print(d)

{7: 'hello', 8: 'hi', 9: 'we', 10: 'are', 11: 'doing', 12: 'good'}

In [41]:
def listtodict(list1,d1):
    d1=dict(list1)

list1=[("set",1),("set2",2),("set3",3)]
d1={}    

print(eval(list1[0][0]))

<class 'set'>

In [42]:
#converting a dictinory to list of tuples
dict1={"one":1,"Two":2,"Three":3}
list1=[(i,j) for i,j in dict1.items()]
print(list1)

[('one', 1), ('Two', 2), ('Three', 3)]

In [43]:
#converting a list of tuples to a dictionary
list1=[('one', 1), ('Two', 2), ('Three', 3)]
dict1=dict(list1)
print(dict1)

{'one': 1, 'Two': 2, 'Three': 3}

In [51]:
#converting a list of tuples to a list of string in python
list1=[('one', "1"), ('Two', "2"), ('Three', "3")]
str_list=[''.join(i) for i in list1]
print(str_list)

['one1', 'Two2', 'Three3']

In [52]:
#convert list of strings to list of lists
list1=["hello","one,","two","four","five"]
list2=list(list1[])
print(list2)

['hello', 'one,', 'two', 'four', 'five']

In [56]:
str1="hello"
print(str1.capitalize())

Hello

In [5]:
str1="Hello"
print(str1.casefold())
print(str1.center(20))
print(str1.count("l",0,4))
print(str1.encode())

hello
       Hello
2
b'Hello'

In [9]:
str1="Welcome"
print(str1.endswith("e",0,6))

False

In [81]:
str1="H\te\te\tl\to"
print(str1)
print(str1.expandtabs(3))

H	e	e	l	o
H  e  e  l  o

In [87]:
str1="Hello how are you?"
print(str1.find("o",5,9))

7

In [92]:
str1="hello"
str1.index("e") #index will throw a error if the index is out of range
str1.find("u") #find will not throw a error if the position is not found

-1

In [101]:
str1="welcome123"
i="welcome?"
print(str1.isalnum())
print(i.isalnum()) #isalphanum finds if all the characters are alphabets and numbers but no special characters
print(str1.isalpha()) #isalpha finds if all the characters are alphabets

True
False
False

In [113]:
str1="1234500"
print(str1.isdecimal()) # returns true if all the elements are decimals i.e. integers
print(str1.isdigit())

False
False

isdecimal()	isdigit()	isnumeric()
Example of string with decimal characters:
"12345"
"12"
"98201"	Example of string with digits:
"12345"
"1233"
"3"	Example of string with numerics:
"12345"
"½¼"
"½"
"12345½"

In [13]:
str1="I am identifier"
str2="_hello"
print(str1.isidentifier())#false because an identifier can have number and alphabets and _ only
print(str2.isidentifier())# true because an identifier i.e string can start with a underscore

False
False

In [116]:
str1.islower()

False

In [121]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²
c = "10km2"
d = "-1"
e = "1.5"
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [124]:
txt = "Hello!\nAre you #1?"
print(a.isprintable())
print(d.isprintable())
print(txt.isprintable())

True
True
False

In [130]:
str1="  "
print(str1.isspace())

True

In [138]:
str1="Welcome Is This Title??"
str1.istitle()# returns True if all words in a text start with a upper case letter, 
              #AND the rest of the word are lower case letters, otherwise False.

True

In [139]:
str1.isupper()

False

In [140]:
str2="Yes it is"
str3=str1.join(str2)
str3

'YWelcome Is This Title??eWelcome Is This Title??sWelcome Is This Title?? Welcome Is This Title??iWelcome Is This Title??tWelcome Is This Title?? Welcome Is This Title??iWelcome Is This Title??s'

In [14]:
l1=["hello","how","are","you","pranav"]
l2=" ".join(l1)
l2

'hello how are you pranav'

In [144]:
t1=("h","e","l","l","o")
t2="".join(t1)
t2

'hello'

In [257]:
str1="Hello"
str2="how are you?"
print(str1.ljust(100),str2)
print(str1.ljust(30))

Hello                                                                                                how are you?
Hello

In [263]:
str1="Hello, And Welcome To My World!"
print(str1.lower())
print(str1.casefold())


#both will do the job of converting a string to lower where as case fold 
#Casefolding is a more aggressive version of lower() that is set up to make many of the more unique unicode 
#characters more comparable. It is another form of normalizing text that 
#may initially appear to be very different, but it takes characters of many different languages into account.

hello, and welcome to my world!
hello, and welcome to my world!
Hello, And Welcome To My World!

In [16]:
str1="         hello      "
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

hello
         hello
hello

In [174]:
str1="hello"
x="ho"
y="23"
z="o"
str2=str1.maketrans(x,y,z) ,#x the strings needs to be removed , y is with which it will replcae the characters the length 
#of x and y should be equal and z is the string or character which needs to be removes from original string
print(str1.translate(str2))
#maketrans --- returns a dictionary object
#translate()

2ell

In [212]:
str1="Hello how are you"
print(str1.partition("?"))
print(str1.rpartition("?"))#returns tuple and returns the tuple objects with the partition character,
#string will part into 3 parts

('Hello how are you', '', '')
('', '', 'Hello how are you')

In [192]:
str1="hello how are you"
print(str1.replace("how","who"))

hello who are you

In [200]:
print(str1.find("o"))
#Searches the string for a specified value and returns the last position of where it was found
print(str1.rfind("o"))
#Python rfind() returns the first occurrence of the string (from right to left), or -1 if there is no match.

#Python find() returns the first occurrence of the string (from left to right), or -1 if there is no match.

4
15

In [198]:
print(str1.rjust(60))

                                           hello how are you

In [208]:
str1="hello who are you who"
print(str1.ljust(120))
print(str1.rjust(120))

hello who are you who
                                                                                                   hello who are you who

In [210]:
print(str1.rindex("who")) #gives the last index position
print(str1.index("who"))  # gives the first index position

18
6

In [219]:
print(str1.rsplit("ow"))

['Hello h', ' are you']

In [228]:
str1 = "w,e,l,c,o,m,e"
print(str1.split(',',4))

str1 = "w,e,l,c,o,m,e"
print(str1.rsplit(',',3))



#maxsplit	Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"
#You see, split() is used if you want to split strings on first occurrences and rsplit() 
#is used if you want to split strings on last occurrences.

['w', 'e', 'l', 'c', 'o,m,e']
['w,e,l,c', 'o', 'm', 'e']
['w,e,l,c,o,m,e']

In [235]:
str1="hello\nhow are you?"
print(str1.splitlines()) #The splitlines() method splits a string into a list. The splitting is done at line breaks.

['hello', 'how are you?']

In [232]:
str1.startswith("w")

False

In [256]:
str1="Welcome to PYTHON"
print(str1.swapcase())
print(str1.title()) # converts the first letter of word to capital
print(str1.capitalize())

wELCOME TO python
Welcome To Python
Welcome to python

In [247]:
str2=str1.maketrans("P","p")
print(str1.translate(str2))

Welcome to pYTHON

In [248]:
print(str1.upper())

WELCOME TO PYTHON

In [255]:
i="156700"
print(i.zfill(20))

00000000000000156700

In [265]:
txt = "banana"

x = txt.center(20)
y=txt.count("a")

print(x)
print(y)

       banana
3

In [267]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(5)

print(x)

H    e    l    l    o

In [271]:
x="welcome123"
print(x.isalnum())
print(x.isalpha())

True
False

In [75]:
str1=input("please enter the string:")
length=len(str1)
for i in range(length):
    for j in range(i+1) :
            print(str1[j],end="")   
    print()

please enter the string:rekha
r
ee
kkk
hhhh
aaaaa

In [88]:
str1=input("please enter the string:")
length=len(str1)
for i in range(length+1):
    print(str1[0:i].rjust(10))

please enter the string:rekha

         r
        re
       rek
      rekh
     rekha

In [90]:
str1=input("please enter the string:")
length=len(str1)
for i in range(length+1):
    print(str1[0:i].center(11))

please enter the string:rekha

     r
     re
    rek
    rekh
   rekha

In [111]:
days=["31","28","31","30","31","30","31","31","30","31","30","31"]
months=["jan","feb","mar","apr","may","jun","july","aug","sep","oct","nov","dec"]
new_tuple=tuple(zip(days,months))
print(new_tuple)
for i,j in new_tuple:
    if(int(i)>=31):
        print(f"{j} having 31 days")
    elif(int(i)==28):
        print(f"{j} having 28 days")
    else:
        print(f"{j} is having 30 days")

(('31', 'jan'), ('28', 'feb'), ('31', 'mar'), ('30', 'apr'), ('31', 'may'), ('30', 'jun'), ('31', 'july'), ('31', 'aug'), ('30', 'sep'), ('31', 'oct'), ('30', 'nov'), ('31', 'dec'))
jan having 31 days
feb having 28 days
mar having 31 days
apr is having 30 days
may having 31 days
jun is having 30 days
july having 31 days
aug having 31 days
sep is having 30 days
oct having 31 days
nov is having 30 days
dec having 31 days

In [107]:
str1=input("Enter the string to find the number,digits and special characters in it\n")
digit=0
character=0
special=0
for i in str1:
    if(i.isdigit()):
        digit+=1
    elif(i.isalpha()):
        character+=1
    elif(not(i.isalnum())):
        special+=1

print(f"number of digits is {digit}")
print(f"number of characters is {character}")
print(f"number of special is {special}")
print("End of for loop")

Enter the string to find the number,digits and special characters in it
dasdasdasdasdas34234!@$@#$@#%
number of digits is 5
number of characters is 15
number of special is 9
End of for loop