In [56]:
list1=[1,2,3,4,5,6]
list2=[7,8,9,10,11,12]
list3=list1+list2
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [70]:
tuple1=("hello","hi","hello")
tuple3=zip(tuple1,list1)
print(list(tuple3))
print(tuple1)

[('hello', 1), ('hi', 2), ('hello', 3)]
('hello', 'hi', 'hello')

In [ ]:
list4=[12,23,34,45,(23,45)]
list4[4]

In [ ]:
list4[4][1]

In [ ]:
tuple4=(12,34,45,675,["Hello","Hi"])
tuple4[4][1]="how are you"
tuple4

In [ ]:
tuple4[4].append("hi")
tuple4

In [ ]:
tuple4[4].extend(["baby","boss"])
tuple4

In [ ]:
tuple4[4][: : -1]

In [ ]:
tuple4[4][-4:-2:1]

In [ ]:
tuple4[4][5::]=["pranav","ritvik"]
tuple4

In [ ]:
tuple4+=(34,45)
tuple4

In [99]:
set1={"hello","hi"}
set2={"baby","babes"}
result=zip(set1,set2)
set3=set(result)
print(set3)
set4=set1.union(set2)
print(set4)
set1.update(set2)
print(set1)
set1.remove("hello")
set2.discard("bab")
set2.add("bab")
print(set1)
print(set2)

{('hi', 'babes'), ('hello', 'baby')}
{'hi', 'babes', 'baby', 'hello'}
{'hi', 'babes', 'baby', 'hello'}
{'hi', 'babes', 'baby'}
{'bab', 'babes', 'baby'}

In [109]:
set1={1,2,3,4,5}
set2={6,7,8,9,10,11}
set1.update(set2)
print(set1)
print(set2)
for i in set1:
    print(f" the value is {i}")  
    if(i==1):
        set2.add("one")
        print(f"the value is {set2}")
    elif(i==2):
        set2.add("two")
        print(f"the value is {set2}") 
    elif(i==3):
        set2.add("three")
        print(f"the value is {set2}")
    else:
        set2.add("four and go on")
        print(f"the value is {set2}")
x=set2.pop()
print(x)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{6, 7, 8, 9, 10, 11}
 the value is 1
the value is {6, 7, 8, 9, 10, 11, 'one'}
 the value is 2
the value is {6, 7, 8, 9, 10, 11, 'one', 'two'}
 the value is 3
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two'}
 the value is 4
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 5
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 6
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 7
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 8
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 9
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 10
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
 the value is 11
the value is {6, 7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}
6
{7, 8, 9, 10, 11, 'three', 'one', 'two', 'four and go on'}

In [98]:
print(f"the value of inner list is{tuple4[4]}")
print(f"the values of 0 index position in inner tuple is {tuple4[4][5]}")
print(f"just trying not to mistake while printing {tuple4[4][3]}")
print(f"last time trying not to make any mistake {tuple4[4][4]}")

the value of inner list is['Hello', 'how are you', 'hi', 'baby', 'boss', 'pranav', 'ritvik', 34, 45]
the values of 0 index position in inner tuple is pranav
just trying not to mistake while printing baby
last time trying not to make any mistake boss

In [40]:
for i in range(len(tuple1)):
 print(i,tuple1[i])

0 hello
1 hi

In [57]:
for i in range(len(list2)):
 print(list2[i])

7
8
9
10
11
12

In [48]:
for i in enumerate(list1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

In [52]:
for i in enumerate(set1):
    print(i)

(0, 'hi')
(1, 'hello')

In [61]:
result=zip(list1,list2)
print(tuple(result))

((1, 7), (2, 8), (3, 9), (4, 10), (5, 11), (6, 12))

In [69]:
i=1
while(i<=6):
    print(f"the value of i is {i}")
    i+=1
    if(i==5):
        print(f"the value checked for {i}")
        break
    else: 
        continue

the value of i is 1
the value of i is 2
the value of i is 3
the value of i is 4
the value checked for 5

In [100]:
set1={4,5,7}
set1.add(6)
print(set1)

{4, 5, 6, 7}