In [1]:
my_tuple=()
my_tuple

()

In [12]:
my_tuple=("hello","Hello",20,30)
my_list=list(my_tuple)
my_list
my_list.append("bananas")
my_list
my_tuple=tuple(my_list)
my_tuple

('hello', 'Hello', 20, 30, 'bananas')

In [14]:
int_tuple=10,20,30,40,50
int_tuple+=(60,)
int_tuple

(10, 20, 30, 40, 50, 60)

In [29]:
nest_tuple=("Hello",12,[12,23,{34,56,"Go"}],("Hi","rekha",20),[1,2,3,"King"])
nest_tuple

('Hello', 12, [12, 23, {34, 56, 'Go'}], ('Hi', 'rekha', 20), [1, 2, 3, 'King'])

In [30]:
nest_tuple[2][2][1]

TypeError: 'set' object is not subscriptable

In [32]:
a = ('Product', '500.00', '1200.00')
a+=(60,)
a

('Product', '500.00', '1200.00', 60)

In [33]:
x,y,z,_=a
print(x,y,z)

Product 500.00 1200.00